data/processed/
data/raw/
*.json.gz
*.parquet

models/
.cache/
*.bin
*.safetensors

logs/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.vscode/
.trash/
.DS_Store

.venv/
venv/

golden_for_manual_review.json
gemini_verdicts.json
